{% extends 'base.html' %}
{% block header %}
<style>
td > input {
    width: 100%;
}
</style>
{% endblock %}

{% block content %}
<p>
Urejate območja IP za <a href="{{ url_for('rules.index') }}">posredovalna pravila</a> na požarnem zidu.

<p>
NAT se izvaja za notranja omrežja, kjer je nastavljen. Če nastavimo skupino AD, bodo omrežju dodane naprave, ki so jih v VPN povezali uporabniki v tej skupini. Vse naprave v posameznem omrežju so dostopne med sabo in za njih veljajo ista posredovalna pravila.

<p>
Imen in naslovnih prostorov fizičnih omrežij ne moremo spreminjati. Za svoja omrežja lahko definiramo vsa polja. Omrežje odstranimo tako, da mu pobrišemo ime.

<form id="request" method="POST">
<table style="width: 100%;">
<thead>
<th>Omrežje<th>IP<th>IPv6<th>NAT<th>VPN
<tbody>
{% for name, data in ipsets.items() %}
<tr>
<td style="max-width: 4em;"><input name="name" value="{{ name }}" {% if not data.custom %}readonly{% endif %} />
<td style="max-width: 5em;"><input name="ip" value="{{ data.ip|join(' ') }}" {% if not data.custom %}readonly{% endif %} />
<td style="max-width: 8em;"><input name="ip6" value="{{ data.ip6|join(' ') }}" {% if not data.custom %}readonly{% endif %} />
<td style="max-width: 5em;"><input name="nat" value="{{ data.nat }}" />
<td style=""><input name="vpn" value="{{ data.vpn }}" />
{% endfor %}
<tr>
<td style="max-width: 4em;"><input name="name" placeholder="novo območje" />
<td style="max-width: 5em;"><input name="ip" placeholder="10.0.0.0/8" />
<td style="max-width: 8em;"><input name="ip6" placeholder="fc00:1::/64 fc00:2::/64" />
<td style="max-width: 5em;"><input name="nat" />
<td><input name="vpn" placeholder="skupina v AD" />
</table>
<p><button id="submit" type="submit">Shrani</button>
</form>

{% endblock %}
