{% extends 'base.html' %}
{% block content %}
<section>
<dl>
<dt><a href="{{ url_for('vpn.index') }}">VPN</a>
<dd>urejanje ključev za WireGuard VPN
<dt><a href="{{ url_for('rules.manage') }}">Pravila</a>
<dd>vklop / izklop pravil za požarni zid
</dl>
</section>
{% if current_user.is_admin %}
<section>
<h1>Admin</h1>
<dl>
<dt><a href="{{ url_for('nodes') }}">Status</a>
<dd>status opek v požarnem zidu
<dt><a href="{{ url_for('ipsets.index') }}">Omrežja</a>
<dd>območja IP, naslovi NAT in skupine za VPN
<dt><a href="{{ url_for('rules.index') }}">Urejanje pravil</a>
<dd>pravila za posredovanje prometa
<dt><a href="{{ url_for('config.edit', name='netmap') }}">Netmap</a>
<dd>statične 1:1 preslikave naslovov za strežniška omrežja
<dt><a href="{{ url_for('config.index') }}">Nastavitve</a>
<dd>nastavitve aplikacije FRIwall
</dl>
</section>
{% endif %}
{% endblock %}
