{% extends 'base.html' %}

{% block content %}
<p>
Urejate posredovalna pravila. Pravila razvrstimo s stolpcem <em>N</em>. Če vrednost pobrišemo, pravilo odstranimo.

<form id="request" method="POST">
<table>
<thead>
<th>N<th>Pravilo
<tbody>
{% for rule in rules %}
<tr>
<td><input name="index" type="number" min="0" size="4" value="{{ loop.index * 10 }}" />
<td><input type="hidden" name="name" value="{{ rule.name }}" />
<a href="{{ url_for('rules.edit', index=loop.index0) }}">{{ rule.name }}</a>
{% endfor %}
<tr>
<td><input name="index" type="number" min="0" size="4" />
<td><input name="name" type="text" size="40" placeholder="novo pravilo" />
</table>
<p><button id="submit" type="submit">Shrani</button>
</form>

{% endblock %}
