{% extends 'base.html' %}

{% block header %}
<style>
pre {
    margin: 0.5em 2em;
}
summary {
    list-style: none;
}
</style>
{% endblock %}

{% block content %}
<p>
Tu lahko vklopite in izklopite posamezna pravila za požarni zid.

<form id="request" method="POST">
{% for rule in rules %}
<details>
<summary>
<input name="rule" type="hidden" value="{{ rule.name }}" />
<input name="enabled" type="checkbox" value="{{ rule.name }}" autocomplete="off"{% if rule.enabled %} checked{% endif %} />
{{ rule.name }}
</summary>
<pre><code>{{ rule.text }}</code></pre>
</details>
{% endfor %}
<p>
<button>Potrdi</button>
</form>

{% endblock %}
