{% extends 'base.html' %}

{% block header %}
<style>
pre {
    margin: 0;
}
</style>
{% endblock %}

{% block content %}
<p>
Tu lahko vklopite in izklopite posamezna pravila za požarni zid.

{% for rule in rules %}
<details>
<summary>
{% if rule.enabled %}
<font color="green">●</font> {{ rule.name }} <a href="{{ url_for('rules.toggle', index=rule.index, enable='false') }}">izklopi</a>
{% else %}
<font color="red">●</font> {{ rule.name }} <a href="{{ url_for('rules.toggle', index=rule.index, enable='true') }}">vklopi</a>
{% endif %}
</summary>
<pre><code>{{ rule.text }}</code></pre>
</details>
{% endfor %}

{% endblock %}
